.header {
	width: 100%;
	padding-top: 10px;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	.container {
		width: 95vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__top-bar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 25px;
		background: #ebecf0af;
		backdrop-filter: blur(20px);
		border-radius: 10px;
		// box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 10px 10px 20px rgba(166, 171, 189, 0.3), -10px -10px 20px rgba(255, 255, 255, 0.8);
	}
	&__logo {
		width: 40px;
		height: 40px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__navigation {
		ul {
			display: flex;
			align-items: center;
			li {
				&:not(:last-child) {
					margin-right: 20px;
				}
				a {
					color: #333;
					font-size: 20px;
					font-weight: bold;
					position: relative;
					&::after {
						content: '';
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background: #333333;
						position: absolute;
						left: 50%;
						margin-left: -3px;
						opacity: 0;
						visibility: hidden;
						transition: 0.2s ease;
					}
					&.active {
						&::after {
							visibility: hidden;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&__search {
		position: relative;
		margin-right: auto;
		margin-left: 25px;
		input {
			min-width: 400px;
			padding: 5px 15px;
			background: rgba(250, 250, 250, 0);
			// backdrop-filter: blur(5px);
			border-radius: 10px;
			// box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
			box-shadow: inset 10px 10px 20px rgba(166, 171, 189, 0.3), inset -10px -10px 20px rgba(255, 255, 255, 0.3);
			border: none;
			font-size: 18px;
			outline: none;
			appearance: none;
			transition: 0.2s;
			&:hover,
			&:focus,
			&:not(:placeholder-shown) {
				& + label {
					transform: translateX(10px);
					opacity: 0;
					visibility: hidden;
				}
			}
			&:focus {
				box-shadow: inset 0px 20px 30px rgba(0, 0, 0, 0.2);
			}
		}
		label {
			position: absolute;
			font-size: 18px;
			top: 5px;
			left: 15px;
			opacity: 0.5;
			transition: 0.2s;
			cursor: text;
		}
	}
}
