.navigation-bar {
	position: fixed;
	top: 10px;
	left: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: 0.3s;
	&.active {
		.navigation-bar__toggle-btn {
			img {
				width: 80%;
				height: 80%;
			}
		}
		.navigation-bar__menu-list {
			display: block;
		}
	}
	&__buttons {
		display: flex;
		margin-bottom: 20px;
	}
	&__toggle-btn {
		width: 40px;
		height: 40px;
		padding: 5px;
		border-radius: 3px;
		// box-shadow: 0px 2px 15px -4px rgba(0,0,0,.3);
		box-shadow: 20px 20px 30px rgba(0,0,0,.04);
		background: #fff;
		cursor: pointer;
		margin-bottom: 20px;
		transition: $transition-primary;
		user-select: none;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 100%;
			height: 100%;
		}
		&:hover {
			background: #fff;
		
		}
		&:active {
			transform: translateY(2px) scale(0.98);
		}
	}
	&__menu-list {
		border-radius: 3px;
		// box-shadow: 0px 2px 15px -4px rgba(0,0,0,.3);
		box-shadow: 20px 20px 30px rgba(0,0,0,.04);
		background: #fff;
		overflow: hidden;
		display: none;
		animation: fadeIn .3s ease-in ;
		ul {
			display: flex;
			flex-direction: column;
			li {
				a {
					font-size: 20px;
					display: block;
					padding: 10px 25px;
					transition: $transition-primary;
					user-select: none;
					color: $cl-blue;
					span {
						display: block;
						transition: $transition-primary;
					}
					&:hover {
						background: #fff;
						span {
							transform: translateX(5px)
						}
					}
					
				}
			}
		}
	}
}
@keyframes fadeIn {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
