* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $font-primary-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1 {
	margin: 0;
}
ul,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
}

.container {
	width: 98vw;
	max-width: 2000px;
	margin: 0 auto;
	@include media($small) {
		width: 95vw;
	}
}
