// fonts
$font-primary-regular: 'TTNorms-Regular', Arial, sans-serif;
$font-primary-light: 'TTNorms-Light', Arial, sans-serif;
$font-primary-bold: 'TTNorms-Bold', Arial, sans-serif;


// colors
$color-primary: #333333;
$color-secondary: #4d526b;
$color-red: #e66958;
$color-grey: #cfcac6;
$cl-blue: #00567A;
$cl-green: #00A03B;
$cl-red: #EB5757;
$cl-magenta: #AA198D;
$cl-teal: #00567A;
$cl-bg: #ebecf0;

// transitions
$transition-primary: 0.2s;


$small: 560px;
$middle: 760px;
$tablet: 1000px;
$laptop: 1170px;
$desktop: 1300px;
$wide: 1400px;
$large: 1800px;
